/* TODO Add site wide styles */

h2 {
    font-size: 24px; 
    color: #333; 
    background-color: #f2f2f2; 
    padding: 10px 20px; 
    border-radius: 5px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    text-align: center; 
    margin: 20px 0; 
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out; 
  
    
    &:hover {
      background-color: #007bff; 
      color: #fff; 
    }
  }
  
